.button {
  height: 30px;
  background-color: orange;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  color: white;
}
