.form {
  text-align: center;
  margin-bottom: 30px;
}

.form input {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  outline: transparent;
  border: none;
  border-radius: 6px;
  transition: outline 250ms ease-in-out;
}

.form input:focus-visible {
  outline: 1px solid orange;
}

@media (max-width: 767px) {
  .form {
    margin: 0 auto 30px;
  }

  .form label {
    display: block;
  }

  .form input {
    display: block;
    margin: 10px auto;
  }
}
