.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  font-weight: 500;
}

.item {
  margin-bottom: 10px;
}

.error {
  text-align: center;
}

@media (max-width: 767px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }

  .item:not(:last-child) {
    margin-bottom: 10px;
  }
}
