.aside {
  grid-column: 2 / 3;
  padding: 5px 20px;
  border-left: 1px solid black;
}

.title {
  margin-bottom: 10px;
  font-style: 16px;
}

.list {
  margin-bottom: 10px;
}

.item {
  display: inline-block;
  cursor: pointer;
  scale: 1;
  transition: scale 250ms ease-in-out;
}

.item:hover,
.item:focus {
  scale: 1.05;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  width: 150px;
  height: 30px;
  background-color: orange;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  color: white;
}
