.aside {
  grid-column: 2 / 3;
  padding: 5px 20px;
  border-left: 1px solid black;
}

.title {
  margin-bottom: 10px;
  font-style: 16px;
}

.list {
  margin-bottom: 10px;
}

.item {
  display: flex;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.itemText {
  margin-right: 10px;
  cursor: pointer;
  scale: 1;
  transition: scale 250ms ease-in-out;
}

.itemText:hover,
.itemText:focus {
  outline: none;
  scale: 1.05;
}

.icon {
  cursor: pointer;
  scale: 1;
  transition: scale 250ms ease-in-out;
}

.icon:hover,
.icon:focus {
  outline: none;
  scale: 1.2;
}

@media (max-width: 767px) {
  .item {
    display: block;
  }

  .aside {
    border: none;
  }
}
