.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 500;
  background-color: orangered;
  border-radius: 8px;
  transition: color 250ms ease-in-out;
}

.link:hover,
.link:focus {
  color: white;
}

.active {
  composes: link;
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
